.container {
  margin: 0 auto;
  width: 500px;
  overflow: hidden;
}

.innerContainer {
  width: 200%;
  position: relative;
  transition: left 200ms ease-in-out;
  left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

/* .innerContainer:hover {
  left: -100%;
} */

.navigation {
  background: orange;
}

.results {
  background: blue;
}

.details {
  background: red;
}
